<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetMyItemsInfoServlet</servlet-name>
    <servlet-class>jili.GetMyItemsInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyItemsInfoServlet</servlet-name>
    <url-pattern>/faceUMall/getMyItemsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenderConfirmServlet</servlet-name>
    <servlet-class>jili.GenderConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderConfirmServlet</servlet-name>
    <url-pattern>/student/info/gender/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenderConfirmToNetServlet</servlet-name>
    <servlet-class>jili.GenderConfirmToNetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderConfirmToNetServlet</servlet-name>
    <url-pattern>/student/info/gender</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentInfoServlet</servlet-name>
    <servlet-class>jili.StudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoServlet</servlet-name>
    <url-pattern>/student/info/studentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LessonEnglishHomework</servlet-name>
    <servlet-class>voice.LessonEnglishHomework</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonEnglishHomework</servlet-name>
    <url-pattern>/homework/lessonEnglishHomework</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitEnglishStudentHomewrok</servlet-name>
    <servlet-class>voice.SubmitEnglishStudentHomewrok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitEnglishStudentHomewrok</servlet-name>
    <url-pattern>/submitEnglishHomework/submitEnglishStudentHomewrok</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CorrectSubmit</servlet-name>
    <servlet-class>voice.CorrectSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorrectSubmit</servlet-name>
    <url-pattern>/submitEnglishHomework/correctSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApkServlet</servlet-name>
    <servlet-class>qcode.ApkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApkServlet</servlet-name>
    <url-pattern>/androidApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApkQcodeServlet</servlet-name>
    <servlet-class>qcode.ApkQcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApkQcodeServlet</servlet-name>
    <url-pattern>/qcode.jspx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>upload.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUploadHandleServlet</servlet-name>
    <servlet-class>upload.GetUploadHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUploadHandleServlet</servlet-name>
    <url-pattern>/getFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileListHandleServlet</servlet-name>
    <servlet-class>upload.FileListHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileListHandleServlet</servlet-name>
    <url-pattern>/fileList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteFileHandleServlet</servlet-name>
    <servlet-class>upload.DeleteFileHandleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileHandleServlet</servlet-name>
    <url-pattern>/deleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleFileInfoServlet</servlet-name>
    <servlet-class>upload.SingleFileInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleFileInfoServlet</servlet-name>
    <url-pattern>/fileDetail</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GetHomework</servlet-name>
    <servlet-class>homework.GetHomework</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHomework</servlet-name>
    <url-pattern>/getHomework</url-pattern>
  </servlet-mapping>
  
 <!--   <servlet>
    <servlet-name>GetHomeworkV2</servlet-name>
    <servlet-class>homework.GetHomeworkV2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHomeworkV2</servlet-name>
    <url-pattern>/homework/lessonHomework</url-pattern>
  </servlet-mapping>
   -->
   <servlet>
    <servlet-name>GetHomeworkV3</servlet-name>
    <servlet-class>homework.GetHomeworkV3</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GetHomeworkV3</servlet-name>
    <url-pattern>/homework/lessonHomework</url-pattern>
  </servlet-mapping>
</web-app>