<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name></display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ApkQcodeServlet</servlet-name>
        <servlet-class>qcode.ApkQcodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApkQcodeServlet</servlet-name>
        <url-pattern>/qcode.jspx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadHandleServlet</servlet-name>
        <servlet-class>upload.UploadHandleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadHandleServlet</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUploadHandleServlet</servlet-name>
        <servlet-class>upload.GetUploadHandleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUploadHandleServlet</servlet-name>
        <url-pattern>/getFiles</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileListHandleServlet</servlet-name>
        <servlet-class>upload.FileListHandleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileHandleServlet</servlet-name>
        <servlet-class>upload.DeleteFileHandleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFileHandleServlet</servlet-name>
        <url-pattern>/deleteFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SingleFileInfoServlet</servlet-name>
        <servlet-class>upload.SingleFileInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SingleFileInfoServlet</servlet-name>
        <url-pattern>/fileDetail</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>upload.SendMailServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendWXServlet</servlet-name>
        <servlet-class>upload.SendWXServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendWXServlet</servlet-name>
        <url-pattern>/sendWxMsg</url-pattern>
    </servlet-mapping>
    
    
    
    <!-- gitlog -->
    <servlet>
        <servlet-name>CommitLogServlet</servlet-name>
        <servlet-class>gitlog.CommitLogToServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommitLogServlet</servlet-name>
        <url-pattern>/commitlog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCommitLogFromServlet</servlet-name>
        <servlet-class>gitlog.GetCommitLogFromServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCommitLogFromServlet</servlet-name>
        <url-pattern>/getcommitlog</url-pattern>
    </servlet-mapping>
    
</web-app>